.footer-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 150px;
  padding-bottom: 77px;
  align-items: start;
  justify-content: space-between;
}

.footer__address {
  padding: 0;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__links {
  padding: 0;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.footer-socials {
  display: flex;
  margin-left: 92px;
  justify-content: space-between;
}

.footer-socials a {
  width: 48px;
  height: 48px;
  margin-top: 5px;
}
