.footer {
    height: 180px;
    width: body;
    margin-top: 200px;
}

.footer-container {
    display: grid;
    grid-template-rows: 180px;
    grid-template-columns: 350px 350px 350px;
    border: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-adderss {
    padding: 0;
}
.footer-adderss:last-child {
    letter-spacing: 5px;
}

.footer-links {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.footer-links .header-link-icon::before {
    content: none;
}
.footer-socials {
    display: flex;
}
.footer-socials a {
    width: 48px;
    height: 48px;
    
}
