.header {
  align-items: center;
  color: black;
  padding-top: 92px;
  padding-bottom: 92px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.links {
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
}

.header__links {
  padding-left: 50px;
  padding-bottom: 8px;
}

.header__links ul {
  display: flex;
  list-style: circle;
  padding-left: 0;
  margin: 0;
  gap: 33px;
}

.header__links li:first-child {
  list-style: none;
}

.link-no-underline {
  text-decoration: none;
}

.logo {
  width: 148px;
  height: 105px;
}

.adderss {
  text-underline-offset: 4px;
}

.adderss {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 187px;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.4em;
}

.adderss .addres-no-underline {
  text-decoration: none;
}
