:root {
    --width: 334px;
    --min-height: 100%;
}

h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 0.5px;
    color: white;
    margin: 0 0 15px 0;
}

p {
    font-size: 20px;
    font-weight: normal;
    line-height: 120%;
    color: white;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lots-title {
    margin-top: 180px;
    margin-left: 64px;
    margin-bottom: 26px;
}

.lots-container {
    display: flex;
    gap: 25px;
    margin-left: 24px;
}

.lots-list {
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.lots-item {
    width: var(--width);
    height: 596px;
    flex-shrink: 0; /*чтобы не сжимались*/
}

.lot-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

.lot-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.lot-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.lot-content {
    position: relative;
    z-index: 3;
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.lot-title {
    margin-top: 19px;
    margin-left: 10px;
}

.lot-description {
    margin-top: auto;
    margin-bottom: 18px;
    margin-left: 10px;
}

.lots-see-more {
    color: rgb(11, 10, 10);
    font-size: 20px;
    text-underline-offset: 5px;
    text-decoration-thickness: 0.5px;
    margin-left: 63px;
    text-decoration: underline;
    margin-top: 30px;
}

.lots-see-more:hover {
    color: rgba(194, 75, 75, 0.7);
}
